.spline {
  position: absolute;
  top: 600px;
  left: calc(50% - 849.5px);
  border-radius: var(--br-31xl);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1700px;
  height: 668.5px;
}
.craftingExceptionalWebsites {
  position: absolute;
  top: 363px;
  left: calc(50% - 685.5px);
  font-size: var(--font-size-51xl);
  line-height: 114%;
  text-align: center;
  display: inline-block;
  width: 1372px;
  height: 174px;
}
.vectorIcon {
  position: absolute;
  height: 0.37%;
  width: 16.92%;
  top: 5.41%;
  right: 51.38%;
  bottom: 94.23%;
  left: 31.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.mainChild {
  position: absolute;
  top: 297px;
  left: calc(50% - 224.5px);
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-darkcyan);
  box-sizing: border-box;
  width: 450px;
  height: 40px;
}
.launchYourStunning {
  position: absolute;
  top: 304px;
  left: calc(50% - 162.5px);
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
}
.component2Icon {
  position: absolute;
  top: 304px;
  left: 801px;
  width: 20px;
  height: 23px;
}
.desigedInFigma {
  position: absolute;
  top: 1397px;
  left: 233px;
  line-height: 114%;
}
.whatWeOffer {
  position: absolute;
  top: 1731px;
  left: 151px;
  font-size: var(--font-size-51xl);
  line-height: 114%;
}
.discoverNewOpportunities {
  position: absolute;
  top: 4474px;
  left: calc(50% - 433.5px);
  font-size: var(--font-size-51xl);
  line-height: 114%;
  text-align: center;
  display: inline-block;
  width: 867px;
}
.designedInFigma {
  position: absolute;
  top: 1451px;
  left: 151px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 425px;
}
.hostedOnCloudflare {
  position: absolute;
  top: 1397px;
  left: 871px;
  line-height: 114%;
}
.hostedOnCloudflare1 {
  position: absolute;
  top: 1451px;
  left: 789px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 425px;
}
.developedWithPrecision {
  position: absolute;
  top: 1397px;
  left: 1509px;
  line-height: 114%;
}
.developedWithPrecision1 {
  position: absolute;
  top: 1451px;
  left: 1427px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 425px;
}
.vectorIcon1 {
  position: absolute;
  height: 0.57%;
  width: 3.3%;
  top: 14.28%;
  right: 89.16%;
  bottom: 85.15%;
  left: 7.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2 {
  position: absolute;
  height: 0.57%;
  width: 3.3%;
  top: 14.28%;
  right: 57.29%;
  bottom: 85.15%;
  left: 39.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  position: absolute;
  height: 0.57%;
  width: 3.3%;
  top: 14.28%;
  right: 25.42%;
  bottom: 85.15%;
  left: 71.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainItem {
  position: absolute;
  top: 1580.5px;
  left: 150.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.mainInner {
  position: absolute;
  top: 4716.5px;
  left: 150.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.lineDiv {
  position: absolute;
  top: 5234.5px;
  left: 156.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.mainChild1 {
  position: absolute;
  top: 5753.5px;
  left: 156.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.mainChild2 {
  position: absolute;
  top: 6273.5px;
  left: 156.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.mainChild3 {
  position: absolute;
  top: 9212.5px;
  left: 159.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1701px;
  height: 1px;
}
.mainChild4 {
  position: absolute;
  top: 2021.5px;
  left: calc(50% - 0px);
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1px;
  height: 545px;
}
.vectorIcon4 {
  position: absolute;
  height: 1.26%;
  width: 8.29%;
  top: 19.35%;
  right: 61.49%;
  bottom: 79.39%;
  left: 30.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon5 {
  position: absolute;
  height: 0.3%;
  width: 1%;
  top: 14.46%;
  right: 90.31%;
  bottom: 85.24%;
  left: 8.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon6 {
  position: absolute;
  height: 0.16%;
  width: 1.75%;
  top: 14.51%;
  right: 58.04%;
  bottom: 85.33%;
  left: 40.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon7 {
  position: absolute;
  height: 0.24%;
  width: 1.75%;
  top: 14.45%;
  right: 26.17%;
  bottom: 85.31%;
  left: 72.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.web {
  margin: 0;
}
.webDesign {
  position: absolute;
  top: 2022px;
  left: 297px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.weDesignModern {
  position: absolute;
  top: 2128px;
  left: 297px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 525px;
}
.webDevelopment {
  position: absolute;
  top: 2022px;
  left: 1326px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.ourWebDevelopment {
  position: absolute;
  top: 2128px;
  left: 1326px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 525px;
  height: 114px;
}
.webHosting {
  position: absolute;
  top: 2335px;
  left: 1324px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.weOfferHighPerformance {
  position: absolute;
  top: 2452px;
  left: 1324px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 525px;
  height: 114px;
}
.logoDesign {
  position: absolute;
  top: 2335px;
  left: 297px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.weCreateUnique {
  position: absolute;
  top: 2452px;
  left: 297px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 525px;
}
.penIcon {
  position: absolute;
  top: 2331px;
  left: 151px;
  width: 100px;
  height: 100px;
}
.component6Icon {
  position: absolute;
  top: 2022px;
  left: 151px;
  width: 100px;
  height: 100px;
}
.component7Icon {
  position: absolute;
  top: 2038px;
  left: 1179px;
  width: 78px;
  height: 61px;
}
.component8Icon {
  position: absolute;
  top: 2357px;
  left: 1174px;
  width: 80px;
  height: 83px;
}
.aboutUsBackground {
  position: absolute;
  top: 2716px;
  left: calc(50% - 849.5px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1700px;
  height: 1000px;
}
.groupChild {
  position: absolute;
  top: 0px;
  left: calc(50% - 675px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  width: 1350px;
  height: 100px;
}
.whatServicesDo {
  position: absolute;
  top: calc(50% + 1934px);
  left: calc(50% - 616px);
  line-height: 114%;
  font-weight: 300;
}
.plusSolid1Icon {
  position: absolute;
  top: 27px;
  left: 876px;
  width: 40px;
  height: 46px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 6766px;
  left: calc(50% - 645.5px);
  width: 1350px;
  height: 3936px;
  text-align: center;
}
.rectangleGroup {
  position: absolute;
  top: 6900px;
  left: calc(50% - 645.5px);
  width: 1350px;
  height: 100px;
}
.whatIsWeb {
  position: absolute;
  top: calc(50% + 2095.5px);
  left: calc(50% - 586.5px);
  line-height: 114%;
  font-weight: 300;
  text-align: center;
}
.rectangleContainer {
  position: absolute;
  top: 7034px;
  left: calc(50% - 645.5px);
  width: 1350px;
  height: 100px;
}
.whatTypesOf {
  position: absolute;
  top: calc(50% + 2229.5px);
  left: calc(50% - 586.5px);
  line-height: 114%;
  font-weight: 300;
  font-family: var(--font-inter);
  text-align: center;
}
.founderManagement {
  position: absolute;
  top: -11436px;
  left: calc(50% - 159.5px);
  font-size: var(--font-size-6xl);
  line-height: 114%;
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
}
.groupDiv {
  position: absolute;
  top: 7168px;
  left: calc(50% - 645.5px);
  width: 1350px;
  height: 100px;
}
.doINeed {
  position: absolute;
  top: calc(50% + 2363.5px);
  left: calc(50% - 586.5px);
  line-height: 114%;
  font-weight: 300;
  text-align: center;
}
.rectangleParent1 {
  position: absolute;
  top: 7302px;
  left: calc(50% - 645.5px);
  width: 1350px;
  height: 100px;
}
.howLongDoes {
  position: absolute;
  top: calc(50% + 2497.5px);
  left: calc(50% - 586.5px);
  line-height: 114%;
  font-weight: 300;
  text-align: center;
}
.wereHereTo {
  position: absolute;
  top: 6519px;
  left: 1328px;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 529px;
}
.askAQuestion {
  position: absolute;
  top: 6660px;
  left: 1407px;
  line-height: 150%;
}
.frequentlyAskedQuestions {
  position: absolute;
  top: 6515px;
  left: 224px;
  font-size: var(--font-size-51xl);
  line-height: 114%;
}
.aboutUs {
  position: absolute;
  top: 2748px;
  left: 1024px;
  font-size: var(--font-size-51xl);
  line-height: 114%;
}
.vectorIcon8 {
  position: absolute;
  height: 0.28%;
  width: 13.61%;
  top: 29.15%;
  right: 34.9%;
  bottom: 70.57%;
  left: 51.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.weAreA {
  position: absolute;
  top: 2920px;
  left: 1031px;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 732px;
}
.doYouHave {
  position: absolute;
  top: 3460px;
  left: 183px;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 529px;
}
.ipadMockupIcon {
  position: absolute;
  top: 2748px;
  left: 183px;
  border-radius: var(--br-31xl);
  width: 799px;
  height: 506px;
  overflow: hidden;
  object-fit: cover;
}
.mockup1Icon {
  position: absolute;
  top: 3254px;
  left: 1031px;
  border-radius: var(--br-31xl);
  width: 788px;
  height: 432px;
  object-fit: cover;
}
.mainChild5 {
  position: absolute;
  top: 3280px;
  left: 183px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
.mainChild6 {
  position: absolute;
  top: 3337px;
  left: 183px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 180px;
  height: 40px;
}
.mainChild7 {
  position: absolute;
  top: 3576px;
  left: 183px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkcyan);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 300px;
  height: 50px;
}
.mainChild8 {
  position: absolute;
  top: 3280px;
  left: 363px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 180px;
  height: 40px;
}
.mainChild9 {
  position: absolute;
  top: 3280px;
  left: 563px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 265px;
  height: 40px;
}
.contactUs {
  position: absolute;
  top: 3578px;
  left: 262px;
  line-height: 150%;
  font-weight: 300;
}
.mainChild10 {
  position: absolute;
  top: 4945px;
  left: 1586px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkcyan);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 271px;
  height: 50px;
}
.contactUs1 {
  position: absolute;
  top: 4947px;
  left: 1652px;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 146px;
}
.webDesign1 {
  position: absolute;
  top: 3281px;
  left: 195px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
}
.webHosting1 {
  position: absolute;
  top: 3338px;
  left: 195px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
}
.logoDesign1 {
  position: absolute;
  top: 3281px;
  left: 378px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
}
.webDevelopement {
  position: absolute;
  top: 3281px;
  left: 576px;
  font-size: var(--font-size-6xl);
  line-height: 150%;
  font-weight: 300;
}
.vectorIcon9 {
  position: absolute;
  height: 0.24%;
  width: 11.04%;
  top: 47.9%;
  right: 53.65%;
  bottom: 51.86%;
  left: 35.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.basicWebsite {
  position: absolute;
  top: 4857px;
  left: 151px;
  font-size: var(--font-size-51xl);
  line-height: 80%;
  display: inline-block;
  width: 288px;
}
.div {
  position: absolute;
  top: 4857px;
  left: 1586px;
  font-size: var(--font-size-51xl);
  line-height: 80%;
}
.forSmallProjects {
  position: absolute;
  top: 4994px;
  left: 151px;
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 579px;
}
.contens {
  position: absolute;
  top: 4856px;
  left: 819px;
  line-height: 114%;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 33px;
}
.mainChild11 {
  position: absolute;
  top: 5463px;
  left: 1586px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkcyan);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 271px;
  height: 50px;
}
.contactUs2 {
  position: absolute;
  top: 5465px;
  left: 1652px;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  width: 146px;
}
.standardWebsite {
  position: absolute;
  top: 5375px;
  left: 151px;
  font-size: var(--font-size-51xl);
  line-height: 80%;
  display: inline-block;
  width: 346px;
}
.div1 {
  position: absolute;
  top: 5375px;
  left: 1594px;
  font-size: var(--font-size-51xl);
  line-height: 80%;
}
.ourBestsellerPerfect {
  position: absolute;
  top: 5512px;
  left: 150px;
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 597px;
}
.contens1 {
  position: absolute;
  top: 5374px;
  left: 819px;
  line-height: 114%;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 33px;
}
.mainChild12 {
  position: absolute;
  top: 5983px;
  left: 1586px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkcyan);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 271px;
  height: 50px;
}
.contactUs3 {
  position: absolute;
  top: 5985px;
  left: 1652px;
  line-height: 150%;
  font-weight: 300;
}
.businessWebsite {
  position: absolute;
  top: 5895px;
  left: 151px;
  font-size: var(--font-size-51xl);
  line-height: 80%;
  display: inline-block;
  width: 346px;
}
.div2 {
  position: absolute;
  top: 5895px;
  left: 1562px;
  font-size: var(--font-size-51xl);
  line-height: 80%;
}
.forHighDemandProjects {
  position: absolute;
  top: 6032px;
  left: 151px;
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 597px;
}
.contens2 {
  position: absolute;
  top: 5894px;
  left: 819px;
  line-height: 114%;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 33px;
}
.groupChild2 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 417px;
  height: 40px;
}
.groupChild3 {
  position: absolute;
  top: 0px;
  left: 426px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 240px;
  height: 40px;
}
.professionalPreDesignedTemp {
  position: absolute;
  top: 1px;
  left: 11px;
  line-height: 150%;
  font-weight: 300;
}
.mobileOptimization {
  position: absolute;
  top: 1px;
  left: 436px;
  line-height: 150%;
  font-weight: 300;
}
.groupChild4 {
  position: absolute;
  top: 53px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 170px;
  height: 40px;
}
.groupChild5 {
  position: absolute;
  top: 53px;
  left: 179px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 226px;
  height: 40px;
}
.landingPage {
  position: absolute;
  top: 54px;
  left: 10px;
  line-height: 150%;
  font-weight: 300;
}
.basicContactForm {
  position: absolute;
  top: 54px;
  left: 191px;
  line-height: 150%;
  font-weight: 300;
}
.rectangleParent2 {
  position: absolute;
  top: 4296px;
  left: 819px;
  width: 666px;
  height: 93px;
  display: none;
  font-size: var(--font-size-6xl);
}
.groupChild6 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 185px;
  height: 40px;
}
.groupChild7 {
  position: absolute;
  top: 0px;
  left: 195px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 240px;
  height: 40px;
}
.mobileOptimization1 {
  position: absolute;
  top: 1px;
  left: 205px;
  line-height: 150%;
  font-weight: 300;
}
.groupChild8 {
  position: absolute;
  top: 0px;
  left: 445px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.animations {
  position: absolute;
  top: 1px;
  left: 456px;
  line-height: 150%;
  font-weight: 300;
}
.groupChild9 {
  position: absolute;
  top: 53px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 262px;
  height: 40px;
}
.groupChild10 {
  position: absolute;
  top: 53px;
  left: 272px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 337px;
  height: 40px;
}
.integrationOfA {
  position: absolute;
  top: 54px;
  left: 284px;
  line-height: 150%;
  font-weight: 300;
}
.rectangleParent3 {
  position: absolute;
  top: 4814px;
  left: 819px;
  width: 609px;
  height: 93px;
  display: none;
  font-size: var(--font-size-6xl);
}
.groupChild11 {
  position: absolute;
  top: 53px;
  left: 159px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 262px;
  height: 40px;
}
.includesUpTo1 {
  position: absolute;
  top: 54px;
  left: 169px;
  line-height: 150%;
  font-weight: 300;
}
.groupChild12 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.groupChild13 {
  position: absolute;
  top: 53px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.groupChild14 {
  position: absolute;
  top: 106px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 281px;
  height: 40px;
}
.groupChild15 {
  position: absolute;
  top: 159px;
  left: 0px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 311px;
  height: 40px;
}
.advancedContactForm {
  position: absolute;
  top: 107px;
  left: 12px;
  line-height: 150%;
  font-weight: 300;
}
.performanceOptimization {
  position: absolute;
  top: 158px;
  left: 12px;
  line-height: 150%;
  font-weight: 300;
}
.groupChild16 {
  position: absolute;
  top: 106px;
  left: 291px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 214px;
  height: 40px;
}
.seoOptimization {
  position: absolute;
  top: 107px;
  left: 303px;
  line-height: 150%;
  font-weight: 300;
}
.groupChild17 {
  position: absolute;
  top: 1px;
  left: 372px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 240px;
  height: 40px;
}
.mobileOptimization2 {
  position: absolute;
  top: 2px;
  left: 382px;
  line-height: 150%;
  font-weight: 300;
}
.rectangleParent4 {
  position: absolute;
  top: 5334px;
  left: 819px;
  width: 612px;
  height: 199px;
  display: none;
  font-size: var(--font-size-6xl);
}
.tdLogoIcon {
  position: absolute;
  top: calc(50% + 46.5px);
  left: calc(50% - 400.5px);
  width: 121px;
  height: 83px;
  overflow: hidden;
}
.tdLogoIcon1 {
  position: absolute;
  height: 0.98%;
  width: 6.25%;
  top: 55.7%;
  right: 63.78%;
  bottom: 43.32%;
  left: 29.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tdLogoIcon2 {
  position: absolute;
  height: 1.13%;
  width: 6.29%;
  top: 60.96%;
  right: 63.74%;
  bottom: 37.91%;
  left: 29.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component10Child {
  position: absolute;
  top: 25px;
  left: 37px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 185px;
  height: 40px;
}
.component10Item {
  position: absolute;
  top: 25px;
  left: 232px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 240px;
  height: 40px;
}
.customDesign1 {
  position: absolute;
  top: 26px;
  left: 48px;
  line-height: 150%;
  font-weight: 300;
}
.mobileOptimization3 {
  position: absolute;
  top: 26px;
  left: 242px;
  line-height: 150%;
  font-weight: 300;
}
.component10Inner {
  position: absolute;
  top: 25px;
  left: 482px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.animations2 {
  position: absolute;
  top: 26px;
  left: 493px;
  line-height: 150%;
  font-weight: 300;
}
.component10Child1 {
  position: absolute;
  top: 78px;
  left: 37px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 262px;
  height: 40px;
}
.component10Child2 {
  position: absolute;
  top: 78px;
  left: 309px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 337px;
  height: 40px;
}
.includesUpTo2 {
  position: absolute;
  top: 79px;
  left: 47px;
  line-height: 150%;
  font-weight: 300;
}
.integrationOfA1 {
  position: absolute;
  top: 79px;
  left: 321px;
  line-height: 150%;
  font-weight: 300;
}
.component10 {
  position: absolute;
  top: 5406px;
  left: 782px;
  width: 683px;
  height: 143px;
  font-size: var(--font-size-6xl);
}
.component9Child {
  position: absolute;
  top: 26px;
  left: 35px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 417px;
  height: 40px;
}
.component9Item {
  position: absolute;
  top: 26px;
  left: 461px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 240px;
  height: 40px;
}
.professionalPreDesignedTemp1 {
  position: absolute;
  top: 27px;
  left: 46px;
  line-height: 150%;
  font-weight: 300;
}
.mobileOptimization4 {
  position: absolute;
  top: 27px;
  left: 471px;
  line-height: 150%;
  font-weight: 300;
}
.component9Inner {
  position: absolute;
  top: 79px;
  left: 35px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 170px;
  height: 40px;
}
.component9Child1 {
  position: absolute;
  top: 79px;
  left: 214px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 226px;
  height: 40px;
}
.landingPage1 {
  position: absolute;
  top: 80px;
  left: 45px;
  line-height: 150%;
  font-weight: 300;
}
.basicContactForm1 {
  position: absolute;
  top: 80px;
  left: 226px;
  line-height: 150%;
  font-weight: 300;
}
.component9 {
  position: absolute;
  top: 4887px;
  left: 784px;
  width: 736px;
  height: 146px;
  font-size: var(--font-size-6xl);
}
.component11Child {
  position: absolute;
  top: 83px;
  left: 247px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 262px;
  height: 40px;
}
.includesUpTo3 {
  position: absolute;
  top: 84px;
  left: 257px;
  line-height: 150%;
  font-weight: 300;
}
.component11Item {
  position: absolute;
  top: 30px;
  left: 88px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.component11Inner {
  position: absolute;
  top: 31px;
  left: 460px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 240px;
  height: 40px;
}
.fullyCustomDesign1 {
  position: absolute;
  top: 31px;
  left: 99px;
  line-height: 150%;
  font-weight: 300;
}
.mobileOptimization5 {
  position: absolute;
  top: 32px;
  left: 470px;
  line-height: 150%;
  font-weight: 300;
}
.component11Child1 {
  position: absolute;
  top: 83px;
  left: 88px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.component11Child2 {
  position: absolute;
  top: 136px;
  left: 88px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 281px;
  height: 40px;
}
.component11Child3 {
  position: absolute;
  top: 189px;
  left: 88px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 311px;
  height: 40px;
}
.animations3 {
  position: absolute;
  top: 84px;
  left: 98px;
  line-height: 150%;
  font-weight: 300;
}
.advancedContactForm1 {
  position: absolute;
  top: 137px;
  left: 100px;
  line-height: 150%;
  font-weight: 300;
}
.performanceOptimization1 {
  position: absolute;
  top: 188px;
  left: 100px;
  line-height: 150%;
  font-weight: 300;
}
.component11Child4 {
  position: absolute;
  top: 136px;
  left: 379px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 214px;
  height: 40px;
}
.seoOptimization1 {
  position: absolute;
  top: 137px;
  left: 391px;
  line-height: 150%;
  font-weight: 300;
}
.component11 {
  position: absolute;
  top: 5921px;
  left: 731px;
  width: 792px;
  height: 267px;
  font-size: var(--font-size-6xl);
}
.vectorIcon10 {
  position: absolute;
  height: 1.71%;
  width: 8.22%;
  top: 68.06%;
  right: 62.89%;
  bottom: 30.23%;
  left: 28.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vectorIcon11 {
  position: absolute;
  height: 1.2%;
  width: 19.22%;
  top: 68.39%;
  right: 15.89%;
  bottom: 30.4%;
  left: 64.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.image43Icon {
  position: absolute;
  top: 516px;
  left: 252px;
  border-radius: var(--br-mini);
  width: 521px;
  height: 605px;
  object-fit: cover;
}
.image44Icon {
  position: absolute;
  top: 1456px;
  left: 1632px;
  border-radius: var(--br-mini);
  width: 519px;
  height: 605px;
  object-fit: cover;
}
.image45Icon {
  position: absolute;
  top: 465px;
  left: 1694px;
  border-radius: var(--br-mini);
  width: 502px;
  height: 607px;
  object-fit: cover;
}
.image46Icon {
  position: absolute;
  top: 2230px;
  left: 279px;
  border-radius: var(--br-mini);
  width: 576px;
  height: 667px;
  object-fit: cover;
}
.image47Icon {
  position: absolute;
  top: 1446px;
  left: 500px;
  border-radius: var(--br-mini);
  width: 519px;
  height: 607px;
  object-fit: cover;
}
.image48Icon {
  position: absolute;
  top: 2369px;
  left: 1434px;
  border-radius: var(--br-mini);
  width: 520px;
  height: 607px;
  object-fit: cover;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 519.9px;
  height: 606.6px;
}
.shadow {
  position: absolute;
  top: 249.8px;
  left: 22.4px;
  filter: blur(44px);
  border-radius: 50%;
  background-color: var(--default-shade-black);
  width: 389.2px;
  height: 4.3px;
}
.lid {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-9xl) var(--br-9xl) var(--br-9xs) var(--br-9xs);
  background-color: var(--default-gray-900);
  border: 2px solid var(--default-gray-700);
  box-sizing: border-box;
  width: 350.9px;
  height: 238.2px;
}
.darkScreen {
  position: absolute;
  top: 2.1px;
  left: 2.2px;
  border-radius: var(--br-3xl) var(--br-3xl) 0px 0px;
  background-color: var(--default-shade-black);
  width: 346.6px;
  height: 227.1px;
}
.screenWrapIcon {
  position: absolute;
  top: 13.3px;
  left: 9.1px;
  width: 331.1px;
  height: 206.4px;
  object-fit: cover;
}
.macbookPro {
  position: absolute;
  top: 229.6px;
  left: 157px;
  line-height: 90%;
  font-weight: 600;
  display: inline-block;
  width: 35.7px;
  height: 5.2px;
}
.top {
  position: absolute;
  top: 0px;
  left: 42.1px;
  width: 350.9px;
  height: 238.2px;
}
.bottomIcon {
  position: absolute;
  top: 236.5px;
  left: 0px;
  width: 433.5px;
  height: 12.9px;
}
.deviceMacbookPro {
  position: absolute;
  top: 175.3px;
  left: 16.9px;
  width: 433.5px;
  height: 254.1px;
}
.iphone12Pro {
  position: absolute;
  top: 213.6px;
  left: 344.5px;
  width: 155.3px;
  height: 321.7px;
  overflow: hidden;
  object-fit: contain;
}
.italianRestaurant1 {
  position: absolute;
  top: 71.9px;
  left: calc(50% - 181.45px);
  width: 169px;
  height: 58.7px;
  overflow: hidden;
}
.backgroundParent {
  position: absolute;
  top: 60.6px;
  left: 0px;
  width: 519.9px;
  height: 606.6px;
}
.backgroundGroup {
  position: absolute;
  top: 1061px;
  left: 1434px;
  width: 519.9px;
  height: 606.6px;
}
.deviceMacbookPro2 {
  position: absolute;
  top: 176.8px;
  left: 16.9px;
  width: 433.5px;
  height: 254.1px;
}
.iphone12Pro2 {
  position: absolute;
  top: 212.5px;
  left: 343.8px;
  width: 155.3px;
  height: 321.7px;
  overflow: hidden;
  object-fit: contain;
}
.wikPerformance2 {
  position: absolute;
  top: 72.8px;
  left: 202.1px;
  width: 115.7px;
  height: 53.9px;
  overflow: hidden;
}
.backgroundContainer {
  position: absolute;
  top: 0px;
  left: 1592px;
  width: 519.9px;
  height: 606.6px;
}
.backgroundParent1 {
  position: absolute;
  top: 1972px;
  left: 31px;
  width: 519.9px;
  height: 606.6px;
}
.shadow4 {
  position: absolute;
  top: 249.9px;
  left: 22.4px;
  filter: blur(44px);
  border-radius: 50%;
  background-color: var(--default-shade-black);
  width: 389.2px;
  height: 4.3px;
}
.darkScreen4 {
  position: absolute;
  top: 2.2px;
  left: 2.2px;
  border-radius: var(--br-3xl) var(--br-3xl) 0px 0px;
  background-color: var(--default-shade-black);
  width: 346.6px;
  height: 227.1px;
}
.screenWrapIcon4 {
  position: absolute;
  top: 13.4px;
  left: 9.1px;
  width: 331.1px;
  height: 206.4px;
  object-fit: cover;
}
.macbookPro4 {
  position: absolute;
  top: 229.7px;
  left: 157px;
  line-height: 90%;
  font-weight: 600;
  display: inline-block;
  width: 35.7px;
  height: 5.2px;
}
.bottomIcon4 {
  position: absolute;
  top: 236.6px;
  left: 0px;
  width: 433.5px;
  height: 12.9px;
}
.deviceMacbookPro4 {
  position: absolute;
  top: 184.8px;
  left: 16.9px;
  width: 433.5px;
  height: 254.1px;
}
.iphone12Pro4 {
  position: absolute;
  top: 223.2px;
  left: 344.5px;
  width: 155.3px;
  height: 321.7px;
  overflow: hidden;
  object-fit: contain;
}
.logoIcon {
  position: absolute;
  height: 16.22%;
  width: 27.22%;
  top: 10.12%;
  right: 43.18%;
  bottom: 73.66%;
  left: 29.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backgroundParent2 {
  position: absolute;
  top: 1110.9px;
  left: 143px;
  width: 519.9px;
  height: 606.6px;
}
.logoIcon1 {
  position: absolute;
  height: 16.22%;
  width: 27.22%;
  top: 26.34%;
  right: 67.38%;
  bottom: 57.43%;
  left: 5.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backgroundParent3 {
  position: absolute;
  top: 1916px;
  left: 1566px;
  width: 519.9px;
  height: 606.6px;
}
.thornyDesigns {
  margin: 0;
  font-size: 80px;
}
.madeByThornyContainer {
  position: absolute;
  top: 466px;
  left: calc(50% - 389px);
  line-height: 114%;
  font-weight: 500;
  font-family: var(--font-kanit);
  color: var(--color-white);
  display: inline-block;
  width: 813px;
  font-size: 150px;
}
.component13Child {
  position: absolute;
  top: 729px;
  left: calc(50% - 207px);
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-darkcyan);
  box-sizing: border-box;
  width: 450px;
  height: 40px;
}
.launchYourStunning1 {
  position: absolute;
  top: 736px;
  left: calc(50% - 163px);
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  font-family: var(--font-kanit);
  color: var(--color-white);
  text-align: left;
}
.component13Item {
  position: absolute;
  top: 0px;
  left: -155px;
  width: 2475px;
  height: 1206px;
}
.component13Inner {
  position: absolute;
  top: 0px;
  left: -155px;
  width: 2475px;
  height: 1206px;
  object-fit: contain;
}
.component13 {
  position: absolute;
  top: 7654px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 2002px;
  height: 1203px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--default-gray-500);
  font-family: var(--font-inter);
}
.tdLogoIcon3 {
  position: absolute;
  top: calc(50% + 4156.5px);
  left: calc(50% - 95.5px);
  width: 190px;
  height: 180.1px;
  overflow: hidden;
}
.company {
  position: absolute;
  top: 9272px;
  left: 604px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.contactUs4 {
  position: absolute;
  top: 9272px;
  left: 161px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.basedIn {
  position: absolute;
  top: 9392px;
  left: 160px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.works {
  position: absolute;
  top: 9444px;
  left: 604px;
  line-height: 114%;
  font-weight: 300;
}
.nuernbergBayernGermanyContainer {
  position: absolute;
  top: 9444px;
  left: 161px;
  line-height: 114%;
  font-weight: 300;
}
.pricing {
  position: absolute;
  top: 9404px;
  left: 604px;
  line-height: 114%;
  font-weight: 300;
}
.contact {
  position: absolute;
  top: 9484px;
  left: 604px;
  line-height: 114%;
  font-weight: 300;
}
.services {
  position: absolute;
  top: 9364px;
  left: 604px;
  line-height: 114%;
  font-weight: 300;
}
.about {
  position: absolute;
  top: 9324px;
  left: 604px;
  line-height: 114%;
  font-weight: 300;
}
.welcomethornydes1 {
  text-decoration: underline;
}
.welcomethornydes {
  color: inherit;
}
.welcomethornydesign {
  position: absolute;
  top: 9324px;
  left: 161px;
  line-height: 114%;
  font-weight: 300;
}
.legalNotice {
  position: absolute;
  top: 9272px;
  left: 919px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
}
.subscribeEnjoy {
  position: absolute;
  top: 9270px;
  left: 1252px;
  font-size: var(--font-size-21xl);
  line-height: 114%;
  display: inline-block;
  width: 398px;
}
.termsOfService {
  position: absolute;
  top: 9404px;
  left: 919px;
  line-height: 114%;
  font-weight: 300;
}
.privacyPolicy {
  position: absolute;
  top: 9364px;
  left: 919px;
  line-height: 114%;
  font-weight: 300;
}
.cookies {
  position: absolute;
  top: 9324px;
  left: 919px;
  line-height: 114%;
  font-weight: 300;
}
.mainChild13 {
  position: absolute;
  top: 9378px;
  left: 1252px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 500px;
  height: 60px;
}
.yourEMailAddress {
  position: absolute;
  top: 9391px;
  left: 1281px;
  line-height: 114%;
  font-weight: 300;
  color: rgba(17, 17, 17, 0.5);
}
.arrowIcon {
  position: absolute;
  top: 9409px;
  left: 1706px;
  max-height: 100%;
  width: 20px;
}
.ellipseDiv {
  position: absolute;
  height: 0.4%;
  width: 1.95%;
  top: 97.88%;
  right: 28.72%;
  bottom: 1.72%;
  left: 69.33%;
  border-radius: 50%;
  background-color: var(--color-white);
}
.ellipseIcon {
  position: absolute;
  height: 0.4%;
  width: 1.95%;
  top: 97.88%;
  right: 32.12%;
  bottom: 1.72%;
  left: 65.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainChild14 {
  position: absolute;
  height: 0.4%;
  width: 1.95%;
  top: 97.88%;
  right: 35.51%;
  bottom: 1.72%;
  left: 62.54%;
  border-radius: 50%;
  background-color: var(--color-white);
}
.vectorIcon12 {
  position: absolute;
  height: 0.23%;
  width: 1.05%;
  top: 97.96%;
  right: 29.22%;
  bottom: 1.81%;
  left: 69.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon13 {
  position: absolute;
  height: 0.24%;
  width: 1%;
  top: 97.96%;
  right: 32.62%;
  bottom: 1.8%;
  left: 66.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon14 {
  position: absolute;
  height: 0.23%;
  width: 1.25%;
  top: 97.96%;
  right: 35.86%;
  bottom: 1.81%;
  left: 62.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.copyright2024All {
  position: absolute;
  height: 0.4%;
  top: 99.38%;
  left: calc(50% - 278.5px);
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: inline-block;
  width: 557px;
}
.processOfCreating {
  position: absolute;
  top: 3898px;
  left: calc(50% - 297.5px);
  font-size: var(--font-size-51xl);
  line-height: 114%;
}
.element13Icon {
  position: absolute;
  top: 3973.4px;
  left: 1041.9px;
  width: 256.1px;
  height: 26.2px;
  overflow: hidden;
  object-fit: contain;
}
.shareYourVision {
  position: absolute;
  top: 4060px;
  left: 232px;
  line-height: 114%;
}
.approveTheDesign {
  position: absolute;
  top: 4060px;
  left: calc(50% - 50.5px);
  line-height: 114%;
}
.launchSupport {
  position: absolute;
  top: 4059px;
  left: 1611px;
  line-height: 114%;
}
.vectorIcon15 {
  position: absolute;
  height: 0.57%;
  width: 3.3%;
  top: 41.87%;
  right: 89.16%;
  bottom: 57.56%;
  left: 7.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon16 {
  position: absolute;
  height: 0.57%;
  top: 41.87%;
  bottom: 57.56%;
  left: calc(50% - 131.5px);
  max-height: 100%;
  width: 66px;
}
.vectorIcon17 {
  position: absolute;
  height: 0.57%;
  width: 3.3%;
  top: 41.87%;
  right: 20.28%;
  bottom: 57.56%;
  left: 76.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon18 {
  position: absolute;
  height: 0.33%;
  width: 1.5%;
  top: 41.98%;
  right: 90.06%;
  bottom: 57.69%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon19 {
  position: absolute;
  height: 0.24%;
  width: 1.25%;
  top: 42.02%;
  right: 54.29%;
  bottom: 57.74%;
  left: 44.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon {
  position: absolute;
  height: 0.3%;
  width: 1.49%;
  top: 41.99%;
  right: 21.19%;
  bottom: 57.7%;
  left: 77.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tellUsYour {
  position: absolute;
  top: 4115px;
  left: 151px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 352px;
}
.reviewTheMockup {
  position: absolute;
  top: 4111px;
  left: 869px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 344px;
}
.wellLaunchYour {
  position: absolute;
  top: 4115px;
  left: 1530px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
  display: inline-block;
  width: 298px;
}
.mainChild15 {
  position: absolute;
  top: 4226.5px;
  left: 185.5px;
  border-top: 1px dashed var(--color-gray-300);
  box-sizing: border-box;
  width: 1652px;
  height: 1px;
}
.mainChild16 {
  position: absolute;
  top: 4210px;
  left: 151px;
  border-radius: 50%;
  background-color: var(--color-darkcyan);
  width: 35px;
  height: 35px;
}
.mainChild17 {
  position: absolute;
  top: 4210px;
  left: calc(50% - 17.5px);
  border-radius: 50%;
  background-color: var(--color-darkcyan);
  width: 35px;
  height: 35px;
}
.mainChild18 {
  position: absolute;
  top: 4210px;
  left: calc(50% + 815.5px);
  border-radius: 50%;
  background-color: var(--color-darkcyan);
  width: 35px;
  height: 35px;
}
.mainChild19 {
  position: absolute;
  top: 4210px;
  left: 1315px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 185px;
  height: 35px;
}
.mainChild20 {
  position: absolute;
  top: 4210px;
  left: 492px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 185px;
  height: 35px;
}
.unlimitedChanges {
  position: absolute;
  top: 4215px;
  left: 1325px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
}
.quickResponse {
  position: absolute;
  top: 4215px;
  left: 518px;
  font-size: var(--font-size-xl);
  line-height: 114%;
  font-weight: 300;
}
.start {
  position: absolute;
  top: 560px;
  left: calc(50% + 991.5px);
  font-size: 15px;
  line-height: 114%;
  font-weight: 300;
  color: var(--color-darkcyan);
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.mainChild21 {
  position: absolute;
  top: 550px;
  left: 1964px;
  border-radius: var(--br-71xl);
  background-color: #252525;
  width: 8px;
  height: 300px;
}
.mainChild22 {
  position: absolute;
  top: 550px;
  left: 1964px;
  border-radius: var(--br-71xl);
  background-color: var(--color-darkcyan);
  width: 8px;
  height: 50px;
}
.blur {
  position: absolute;
  top: 0px;
  left: calc(50% - 900px);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: var(--br-71xl);
  background-color: rgba(0, 0, 0, 0.2);
  width: 1800px;
  height: 100px;
}
.de {
  position: absolute;
  top: 33px;
  left: 1297px;
  line-height: 114%;
  font-weight: 300;
  color: var(--color-gray-300);
}
.en {
  position: absolute;
  top: 33px;
  left: 1250px;
  line-height: 114%;
  font-weight: 300;
}
.tdLogoIcon4 {
  position: absolute;
  top: calc(50% + 1905.5px);
  left: calc(50% - 818px);
  width: 76px;
  height: 72px;
  overflow: hidden;
}
.works1 {
  position: absolute;
  top: 33px;
  left: 656px;
  line-height: 114%;
  font-weight: 300;
}
.pricing1 {
  position: absolute;
  top: 33px;
  left: 526px;
  line-height: 114%;
  font-weight: 300;
}
.contact1 {
  position: absolute;
  top: 33px;
  left: 779px;
  line-height: 114%;
  font-weight: 300;
}
.services1 {
  position: absolute;
  top: 33px;
  left: 378px;
  line-height: 114%;
  font-weight: 300;
}
.about1 {
  position: absolute;
  top: 33px;
  left: 254px;
  line-height: 114%;
  font-weight: 300;
}
.home {
  position: absolute;
  top: 33px;
  left: 156px;
  line-height: 114%;
  font-weight: 300;
  color: var(--color-darkcyan);
}
.outline {
  position: absolute;
  top: -0.5px;
  left: calc(50% - 900.5px);
  border-radius: var(--br-71xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1801px;
  height: 101px;
}
.header {
  position: absolute;
  top: 35px;
  left: calc(50% - 910.5px);
  width: 1800px;
  height: 3955px;
}
.main {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 17413px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-kanit);
}
